# Loan Data Exploration
## by Oyinkansola Benson
## Introduction
>    This notebook explores a dataset containing loan information of approximately 113,937 loans. The dataset being used for this project is the Prosper loan Dataset, provided by Udacity.
## Preliminary Wrangling

In [6]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline
# suppress warnings from final output
import warnings
warnings.simplefilter("ignore")

> Loading the dataset to describe its properties below.

In [8]:
loan = pd.read_csv('LoanData.csv')
loan.shape

(642, 48)

In [9]:
#loadig first 5 records
loan.head()

,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",0""",4.000000,0,.000000,0.1,0.2,0.3,1099.000000,1.090000,.000000.1,...,-11.650000,-252.280000,934.380000,301.290000,286.290000,1.000000.1,0.4,0.5,.000000.3,16
F0D333772699588029C3D68,78899,2006-12-28 12:29:08.357000000,A,36,Completed,2008-09-22 00:00:00,0.09783,0.0900,0.0850,NaN,NaN,NaN,NaN,NaN,NaN,0,TX,Teacher,Not available,NaN,True,False,NaN,2006-12-28 12:13:14.573000000,740.0,759.0,1977-06-11 00:00:00,NaN,NaN,28.0,12,289.0,1.0,3.0,2.0,NaN,5.0,0.0,NaN,NaN,NaN,NaN,...,-14.17,0.00,0.00,0.00,0.00,1.0,0,0,0.0,24
F0D935818667680779F7C13,817778,2013-06-22 08:48:17.947000000,NaN,60,Current,NaN,0.15629,0.1334,0.1234,0.1181,0.0399,0.0782,6.0,A,6.0,1,NJ,Other,Employed,375.0,True,False,NaN,2013-06-22 08:48:05,780.0,799.0,1993-04-14 00:00:00,21.0,19.0,49.0,21,1144.0,2.0,6.0,0.0,0.0,0.0,0.0,0.0,42694.0,0.38,60357.0,...,-96.44,0.00,0.00,0.00,0.00,1.0,0,0,0.0,1
F0DB3391744001048EE36A1,150075,2007-06-11 06:09:41.540000000,C,36,Chargedoff,2010-09-24 00:00:00,0.16215,0.1550,0.1400,NaN,NaN,NaN,NaN,NaN,NaN,0,TX,Police Officer/Correction Officer,Full-time,238.0,True,True,D9F4337221229974777DD03,2007-05-29 11:58:50.643000000,660.0,679.0,1988-06-09 00:00:00,12.0,10.0,26.0,8,182.0,4.0,7.0,0.0,0.0,22.0,0.0,0.0,4960.0,0.70,1849.0,...,-242.54,-130.95,808.01,495.21,172.19,1.0,0,0,0.0,251
F0E83586861177217449DF2,881779,2013-08-27 10:15:52.557000000,NaN,36,Current,NaN,0.23939,0.2019,0.1919,0.1783,0.0799,0.0984,4.0,C,4.0,7,MD,Other,Other,0.0,False,False,NaN,2013-08-27 15:33:48,700.0,719.0,1977-10-01 00:00:00,14.0,13.0,47.0,12,408.0,1.0,4.0,0.0,0.0,12.0,1.0,0.0,9523.0,0.68,3707.0,...,-20.47,0.00,0.00,0.00,0.00,1.0,0,0,0.0,1
D3C633654075965123E839C,21005,2006-06-21 17:46:06.050000000,HR,36,Completed,2009-06-27 00:00:00,0.29525,0.2875,0.2825,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,False,False,6A3B336601725506917317E,2006-06-21 17:17:33.877000000,520.0,539.0,1989-05-01 00:00:00,NaN,NaN,19.0,8,157.0,4.0,16.0,9.0,NaN,12.0,1.0,NaN,NaN,NaN,NaN,...,-21.25,-37.28,0.00,0.00,0.00,1.0,0,0,0.0,23

In [10]:
#showing info on columns
loan.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 642 entries, ('F0D333772699588029C3D68', 78899, '2006-12-28 12:29:08.357000000', 'A', 36, 'Completed', '2008-09-22 00:00:00', 0.09783, 0.09, 0.085, nan, nan, nan, nan, nan, nan, 0, 'TX', 'Teacher', 'Not available', nan, True, False, nan, '2006-12-28 12:13:14.573000000', 740.0, 759.0, '1977-06-11 00:00:00', nan, nan, 28.0, 12, 289.0) to ('E6ED3600409833199F711B7', 1140093, '2014-01-15 09:27:37.657000000', nan, 36, 'Current', nan, 0.13189, 0.1039, 0.0939, 0.09071, 0.0299, 0.06081, 6.0, 'A', 7.0, 1, 'NY', 'Professor', 'Employed', 244.0, False, False, nan, '2014-01-15 09:27:40', 680.0, 699.0, '1995-01-01 00:00:00', 10.0, 9.0, 44.0, 8, 289.0)
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ,0"                      638 non-null    float64
 1   4.000000                 638 non-null    float64
 2   0                        638 non-null    float64
 3   .000000                  603 non-null    float64
 4   0.1                      637 non-null    float64
 5   0.2                      638 non-null    float64
 6   0.3                      603 non-null    float64
 7   1099.000000              603 non-null    float64
 8   1.090000                 603 non-null    float64
 9   .000000.1                603 non-null    float64
 10  2.000000                 603 non-null    float64
 11  1.000000                 603 non-null    float64
 12  .000000.2                603 non-null    float64
 13  .190000                  585 non-null    float64
 14  $1-24,999                642 non-null    object
 15  True                     642 non-null    bool
 16  333.333333               642 non-null    float64
 17  CE7B3581451052468765EEE  642 non-null    object
 18  Unnamed: 18              135 non-null    float64
 19  Unnamed: 19              135 non-null    float64
 20  Unnamed: 20              135 non-null    float64
 21  Unnamed: 21              135 non-null    float64
 22  Unnamed: 22              135 non-null    float64
 23  Unnamed: 23              135 non-null    float64
 24  Unnamed: 24              135 non-null    float64
 25  Unnamed: 25              111 non-null    float64
 26  121                      642 non-null    int64
 27  10                       93 non-null     float64
 28  49                       642 non-null    int64
 29  41033                    642 non-null    int64
 30  1000                     642 non-null    int64
 31  2010-02-26 00:00:00      642 non-null    object
 32  Q1 2010                  642 non-null    object
 33  5B1934139933827839233B3  642 non-null    object
 34  38.970000                642 non-null    float64
 35  164.850000               642 non-null    float64
 36  65.620000                642 non-null    float64
 37  99.230000                642 non-null    float64
 38  -11.650000               642 non-null    float64
 39  -252.280000              642 non-null    float64
 40  934.380000               642 non-null    float64
 41  301.290000               642 non-null    float64
 42  286.290000               642 non-null    float64
 43  1.000000.1               642 non-null    float64
 44  0.4                      642 non-null    int64
 45  0.5                      642 non-null    int64
 46  .000000.3                642 non-null    float64
 47  16                       642 non-null    int64
dtypes: bool(1), float64(35), int64(7), object(5)
memory usage: 403.5+ KB

In [11]:
# descriptive statistics for numeric variables
loan.describe()

,",0""",4.000000,0,.000000,0.1,0.2,0.3,1099.000000,1.090000,.000000.1,...,-11.650000,-252.280000,934.380000,301.290000,286.290000,1.000000.1,0.4,0.5,.000000.3,16
count,638.000000,638.000000,638.000000,603.000000,637.000000,638.000000,603.000000,603.00000,603.000000,603.000000,...,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000
mean,1.495298,5.252351,0.612853,697.257048,3.791209,0.324451,0.019900,17106.44942,0.563930,11039.704809,...,-51.794533,-16.490468,651.097290,629.905109,28.566137,0.998514,0.034268,0.023364,57.585530,75.808411
std,2.512601,5.639674,2.024720,3699.102701,8.950355,0.780290,0.161807,27977.64938,0.315124,17315.031224,...,58.622242,84.801328,2308.467803,2292.771899,289.815133,0.019085,0.206169,0.170571,746.735954,103.037075
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,-407.490000,-957.940000,0.000000,0.000000,0.000000,0.706700,0.000000,0.000000,0.000000,1.000000
25%,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3188.50000,0.310000,905.500000,...,-69.295000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
50%,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8675.00000,0.620000,4316.000000,...,-31.300000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,37.000000
75%,2.000000,7.000000,0.000000,0.000000,2.000000,0.000000,0.000000,20012.50000,0.825000,13630.000000,...,-12.850000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,110.750000
max,30.000000,62.000000,23.000000,41822.000000,62.000000,8.000000,2.000000,298516.00000,1.360000,138635.000000,...,0.000000,0.000000,23954.390000,23954.400000,5443.070000,1.000000,2.000000,2.000000,16000.000000,912.000000

### What is the structure of the dataset?
The dataset comprises of 113,937 loan records with 81 features.

### What is/are the main feature(s) of interest in your dataset?
The main features of interest are the the insights related to the borrowers and the loans they took.

### What features in the dataset do you think will help support your investigation into your feature(s) of interest?
There are alot of features to explore to investigate the relationship between the borrowers and the loans they took. I will be looking at the following features related to the borrower;

1. MemberKey:The unique key that is associated with the borrower. This is the same identifier that is used in the API member object.
2. EmploymentStatus:The employment status of the borrower at the time they posted the listing.
3. Occupation:The Occupation selected by the Borrower at the time they created the listing.
4. IncomeVerifiable:The borrower indicated they have the required documentation to support their income.
5. StatedMonthlyIncome: The monthly income the borrower stated at the time the listing was created.
6. IncomeRange: The income range of the borrower at the time the listing was created.
7. BorrowerAPR:The Borrower's Annual Percentage Rate (APR) for the loan.
8. BorrowerRate:The Borrower's interest rate for this loan.
9. BorrowerState: The two letter abbreviation of the state of the address of the borrower at the time the Listing was created.
10. DebtToIncomeRatio: The debt to income ratio of the borrower at the time the credit profile was pulled. This value is Null if the debt to income ratio is not available. This value is capped at 10.01 (any debt to income ratio larger than 1000% will be returned as 1001%).
11. IsBorrowerHomeowner: A Borrower will be classified as a homowner if they have a mortgage on their credit profile or provide documentation confirming they are a homeowner.
12. CreditScoreRangeLower: The lower value representing the range of the borrower's credit score as provided by a consumer credit rating agency.
13. CreditScoreRangeUpper: The upper value representing the range of the borrower's credit score as provided by a consumer credit rating agency.
+ These are features related to the loans they took:
14. LoanStatus: The current status of the loan: Cancelled, Chargedoff, Completed, Current, Defaulted, FinalPaymentInProgress, PastDue. The PastDue status will be accompanied by a delinquency bucket.
15. LoanKey: Unique key for each loan. This is the same key that is used in the API.
16. LoanOriginalAmount: The origination amount of the loan.
17. Term: The length of the loan expressed in months.
18. LoanOriginationDate: The date the loan was originated.
19. LoanOriginationQuarter: The quarter in which the loan was originated.
20. TotalProsperLoans: Number of Prosper loans the borrower at the time they created this listing. This value will be null if the borrower had no prior loans.

## Univariate Exploration
> In this section, I will be investigating distributions of individual variables.

In [ ]:
# Subset the dataframe by selecting features of interest
cols =['MemberKey','EmploymentStatus', 'Occupation','IncomeVerifiable','StatedMonthlyIncome', 'IncomeRange','BorrowerAPR','BorrowerRate','BorrowerState','DebtToIncomeRatio','IsBorrowerHomeowner','CreditScoreRangeLower','CreditScoreRangeUpper','LoanStatus','LoanKey','LoanOriginalAmount','LoanOriginationDate','LoanOriginationQuarter','Term', 'TotalProsperLoans']
loan_sub = loan[cols]
loan_sub.head()

In [ ]:
# viewing the statistics
loan_sub.describe()